$roboto: "Roboto", sans-serif;
$old: "Old Standard TT", serif;

$mainColor: #BEAD8E;
$mainColorDark: #AD9D82;
$red: #DE5777;
$white900: #fff;
$white400: #FFFFFF54;
$white200: #F9F9F9;
$black900: #111;
$black800: #292929;
$black700: #333333;
$black400: #d3d3d3;
$black100: #F8F8F8;