@use "../mixin" as *;
@use "../variables" as *;

.header {
    width: 100vw;
    padding: 8px 28px;
    @include set-flex(space-between, center, row);
    box-shadow: 0px 3px 6px 0px #0000004A;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    background: $white900;
    transition: all .5s;

    &__span {
        display: none;
    }

    &__nav {
        @include set-flex(center, center, row);

        &__hamburguer {
            @include set-flex(center, center, column);
            width: 24px;
            gap: 4px;
    
            &__bar {
                width: 100%;
                height: 2px;
                background: $black900;
                border-radius: 20px;
                transition: all 1s;

                &.bar01 {
                    transform: rotate(45deg) translate(8px);
                }

                &.bar02 {
                    width: 0;
                }

                &.bar03 {
                    transform: rotate(-45deg) translate(8px);
                }
            }
        }
    
        &__logo {
            width: 110px;
            position: relative;
            top: 10px;
            margin-left: 20px;
        }
    
        &__menu {
            &__list {
                display: none;
            }
        }
    }

    &__actions {
        @include set-flex(center, center, row);
        gap: 18px;
    }
}

.overlay {
    width: 100vw;
    position: fixed;
    left: 0;
    top: -220px;
    z-index: 10;
    background: $white900;
    box-shadow: 0px 3px 6px 0px #0000004A;
    transition: all 1.5s;


    &.display {
        top: 85px;
    }

    &__list {
        @include set-flex(center, flex-start, column);
        gap: 24px;
        padding: 32px 20px;
    }
}

@media (min-width: 1000px) {
    .header {
        width: 80vw;
        margin: 50px 10vw;
        padding: 0px;
        max-height: 100px;

        
        &__span {
            display: block;
            position: absolute;
            top: -25px;
        }
        
        &__nav {    
            &__hamburguer {
                display: none;
            }
        
            &__logo {
                width: 210px;
                position: relative;
                top: 20px;
                margin-left: 0;
                margin-right: 5vw;
            }
        
            &__menu {
                &__list {
                    @include set-flex(center, flex-start, row);
                    gap: 40px;
                }
            }
        }
    
        &__actions {
            @include set-flex(center, center, row);
            gap: 18px;
            margin-right: 5vw;
            gap: 30px;

            img {
                border: 2px solid $black400;
                padding: .5rem;
                cursor: pointer;
            }
            
        }
    }
    
    .overlay {
        display: none;
    }
}