@use '../variables' as *;
@use '../mixin' as *;

.map {
    padding: 20px;

    &__image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

@media (min-width: 1000px) {
    .map {
        padding: 20px 20vw;
    
        &__image {
            height: 700px;
        }
    }
}